%h2.boxUnderline_aktuelt Aktuelt for Ansatte
%article.article
  %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3303&module=news", :title => "Les mer: Rektorvalget: Nå kan du stemme!"}
    %img.picture{:alt => "valgnyhetsbilde.jpg", :src => "http://hiof.no/uimg/20121112/valgnyhetsbilde.jpg"}/
  %h2
    %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3303&module=news", :title => "Les mer: Rektorvalget: Nå kan du stemme!"} Rektorvalget: Nå kan du stemme!
  %p.lead-paragraph Fra mandag 12. november klokken 10.00 kan du stemme på rektor og kandidater til høgskolestyret. Fredag 16. november klokken 14.00 offentliggjøres valgresultatene.
  %a.read-more{:href => "/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3303&module=news", :title => "Les mer: Rektorvalget: Nå kan du stemme!"} Les mer
  %span.published [12.11.2012]
%article.article
  %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3302&module=news", :title => "Les mer: To ledige stillinger som prorektor"}
    %img.picture{:alt => "prorektor.png", :src => "http://hiof.no/uimg/20121109/prorektor.png"}/
  %h2
    %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3302&module=news", :title => "Les mer: To ledige stillinger som prorektor"} To ledige stillinger som prorektor
  %p.lead-paragraph Stillingene som Prorektor for utdanning og Prorektor for FoU er nå utlyst med søknadsfrist: 22.11.2012
  %a.read-more{:href => "/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3302&module=news", :title => "Les mer: To ledige stillinger som prorektor"} Les mer
  %span.published [09.11.2012]
%article.article
  %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3301&module=news", :title => "Les mer: Unik bok og naturfoto"}
    %img.picture{:alt => "Norges første interaktive naturbok", :src => "http://hiof.no/uimg/20121109/RoyNordbakke654.jpg"}/
  %h2
    %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3301&module=news", :title => "Les mer: Unik bok og naturfoto"} Unik bok og naturfoto
  %p.lead-paragraph Ny bok og NM-gull: Roy Nordbakke fra Høgskolen i Østfold er den første i Norge som gir ut lærebok for lesebrett. Hans fantastiske grevlingfoto ble månedens bilde i NM i Naturfoto rett før boka kom ut på Applestore.
  %a.read-more{:href => "/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3301&module=news", :title => "Les mer: Unik bok og naturfoto"} Les mer
  %span.published [09.11.2012]
%article.article
  %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3298&module=news", :title => "Les mer: Morgenstunt lokket frem HIØ-smilene"}
    %img.picture{:alt => "Bird1-Front.JPG", :src => "http://hiof.no/uimg/20121108/Bird1-Front.JPG"}/
  %h2
    %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3298&module=news", :title => "Les mer: Morgenstunt lokket frem HIØ-smilene"} Morgenstunt lokket frem HIØ-smilene
  %p.lead-paragraph Alle morgener trenger ikke være helt like. Starten på i dag ble en fest.
  %a.read-more{:href => "/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3298&module=news", :title => "Les mer: Morgenstunt lokket frem HIØ-smilene"} Les mer
  %span.published [08.11.2012]
%article.article
  %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3292&module=news", :title => "Les mer: Styrket kompetanse ved Høgskolen i Østfold"}
    %img.picture{:alt => "gangbruafredrikstad.jpg", :src => "http://hiof.no/uimg/20110324/gangbruafredrikstad.jpg"}/
  %h2
    %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3292&module=news", :title => "Les mer: Styrket kompetanse ved Høgskolen i Østfold"} Styrket kompetanse ved Høgskolen i Østfold
  %p.lead-paragraph Fem fagansatte ved Avdeling for helse- og sosialfag har i år fått opprykk. - Dette er veldig bra og er med å styrke utdanningstilbudet innen helse- og sosialfagene ved Høgskolen i Østfold, sier dekan Synnøve Narten.
  %a.read-more{:href => "/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3292&module=news", :title => "Les mer: Styrket kompetanse ved Høgskolen i Østfold"} Les mer
  %span.published [06.11.2012]
%article.article
  %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3293&module=news", :title => "Les mer: Julebord for ansatte"}
    %img.picture{:alt => "julihogskolen.jpg", :src => "http://hiof.no/uimg/20121102/julihogskolen.jpg"}/
  %h2
    %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3293&module=news", :title => "Les mer: Julebord for ansatte"} Julebord for ansatte
  %p.lead-paragraph Velkommen til julebord fredag 30. november!
  %a.read-more{:href => "/nor/hogskolen-i-ostfold/for-ansatte/aktuelt/for-ansatt/?&displayitem=3293&module=news", :title => "Les mer: Julebord for ansatte"} Les mer
  %span.published [05.11.2012]
%a.rss-icon{:href => "http://www.hiof.no/rss.php&type=box&id=687&location=20283"}
  %img{:alt => "RSS til nyheter", :src => "/neted/front/img/rss20.gif", :style => "border:0px;"}/
%br
  .buttonLink
    %a.fullOversikt{:href => "http://www.hiof.no/index.php?&path=nor&file=/hogskolen-i-ostfold/for-ansatte/aktuelt/aaktuelle-nyheter"}