%section#study-selection.accordion
  %h1 Studietilbud
  %ul.tabs.vertical
    %li
      %a.active{:href => "#view1", :rel => "view1"} Bachelorstudier
    %li
      %a{:href => "#view2", :rel => "view2"} Masterstudier
    %li
      %a{:href => "#view3", :rel => "view3"} Årsstudier
    %li
      %a{:href => "#view4", :rel => "view4"} Etter- og videreutdanning

  .tabcontents
    #view1.tabcontent
      %form{:action => "/studiesok?", :method => "GET", :name => "studie"}
        %input#kat_studiepoeng_min.hidden{:maxlength => "4", :name => "kat_studiepoeng_min", :type => "text", :value => "179"}
        %input#kat_studiepoeng_max.hidden{:maxlength => "4", :name => "kat_studiepoeng_max", :type => "text", :value => "181"}
        %select.multibox.populate{:name => "cat4[]", :style => 'width:100%;', :multiple => 'true', :data => {:placeholder => "Velg interesser"}}
          %option{:value => "16"} Adm. / økonomi / ledelse
          %option{:value => "17"} Helse- og sosialfag
          %option{:value => "18"} Idrettsfag/friluftsliv
          %option{:value => "19"} IT / IKT / Informatikk
          %option{:value => "53"} Realfag
          %option{:value => "23"} Skuespill
          %option{:value => "25"} Ingeniør
          %option{:value => "27"} Pedagogikk / lærerutdanning
          %option{:value => "28"} Design/innovasjon
          %option{:value => "29"} Språk og litteratur
          %option{:value => "30"} Organisasjon / ledelse
          %option{:value => "35"} Samfunnsfag / historie / filosofi
          %option{:value => "36"} Revisjon / regnskap
          %option{:value => "50"} Scenekunst
          %option{:value => "37"} Markedsføring / kommunikasjon
          %option{:value => "41"} Musikk
          %option{:value => "46"} Eiendomsforvalter
          %option{:value => "47"} Verditaksering
        %input.btn.blue{:name => "kat_submit", :onclick => "CallJS('Progress()');", :type => "submit", :value => "Søk"}
        %a#knappenmin.btn.green{:href => "#"} Alle våre studier
    #view2.tabcontent
      %form{:action => "/studiesok?", :method => "GET", :name => "studie"}
        %input#kat_studiepoeng_min.hidden{:maxlength => "4", :name => "kat_studiepoeng_min", :type => "text", :value => "119"}
        %input#kat_studiepoeng_max.hidden{:maxlength => "4", :name => "kat_studiepoeng_max", :type => "text", :value => "121"}
        %select.multibox{:name => "cat4[]",  :style => 'width:100%;', :multiple => 'true', :data => {:placeholder => "Velg interesser"}}
          %option{:value => "16"} Adm. / økonomi / ledelse
          %option{:value => "17"} Helse- og sosialfag
          %option{:value => "18"} Idrettsfag/friluftsliv
          %option{:value => "19"} IT / IKT / Informatikk
          %option{:value => "53"} Realfag
          %option{:value => "23"} Skuespill
          %option{:value => "25"} Ingeniør
          %option{:value => "27"} Pedagogikk / lærerutdanning
          %option{:value => "28"} Design/innovasjon
          %option{:value => "29"} Språk og litteratur
          %option{:value => "30"} Organisasjon / ledelse
          %option{:value => "35"} Samfunnsfag / historie / filosofi
          %option{:value => "36"} Revisjon / regnskap
          %option{:value => "50"} Scenekunst
          %option{:value => "37"} Markedsføring / kommunikasjon
          %option{:value => "41"} Musikk
          %option{:value => "46"} Eiendomsforvalter
          %option{:value => "47"} Verditaksering
        %input.btn{:name => "kat_submit", :onclick => "CallJS('Progress()');", :type => "submit", :value => "Søk"}
    #view3.tabcontent
      %form{:action => "/studiesok?", :method => "GET", :name => "studie"}
        %input#kat_studiepoeng_min.hidden{:maxlength => "4", :name => "kat_studiepoeng_min", :type => "text", :value => "59"}
        %input#kat_studiepoeng_max.hidden{:maxlength => "4", :name => "kat_studiepoeng_max", :type => "text", :value => "61"}
        %select.multibox{:name => "cat4[]",  :style => 'width:100%;', :multiple => 'true', :data => {:placeholder => "Velg interesser"}}
          %option{:value => "16"} Adm. / økonomi / ledelse
          %option{:value => "17"} Helse- og sosialfag
          %option{:value => "18"} Idrettsfag/friluftsliv
          %option{:value => "19"} IT / IKT / Informatikk
          %option{:value => "53"} Realfag
          %option{:value => "23"} Skuespill
          %option{:value => "25"} Ingeniør
          %option{:value => "27"} Pedagogikk / lærerutdanning
          %option{:value => "28"} Design/innovasjon
          %option{:value => "29"} Språk og litteratur
          %option{:value => "30"} Organisasjon / ledelse
          %option{:value => "35"} Samfunnsfag / historie / filosofi
          %option{:value => "36"} Revisjon / regnskap
          %option{:value => "50"} Scenekunst
          %option{:value => "37"} Markedsføring / kommunikasjon
          %option{:value => "41"} Musikk
          %option{:value => "46"} Eiendomsforvalter
          %option{:value => "47"} Verditaksering
        %input.btn{:name => "kat_submit", :onclick => "CallJS('Progress()');", :type => "submit", :value => "Søk"}
    #view4.tabcontent
      %form{:action => "/studiesok?", :method => "GET", :name => "studie"}
        %select.multibox{:multiple => "", :name => "cat3[]", :style => 'width:100%;', :data => {:placeholder => "Velg type"}}
          %option{:value => "all", :disabled => 'true'} Alle
          %option{:value => "7", :disabled => 'true'} Ordinær utdanning
          %option{:value => "10", :selected => 'true'} Etter- og videreutdanning, ordinær
          %option{:value => "43", :selected => 'true'} Etter- og videreutdanning, betalingsstudium
          %option{:value => "54", :selected => 'true'} Etter- og videreutdanning, eksterne aktører
          %option{:value => "45", :disabled => 'true'} Deltid
          %option{:value => "44", :disabled => 'true'} Heltid

        %select.multibox{:name => "cat4[]",  :style => 'width:100%;', :multiple => 'true', :data => {:placeholder => "Velg interesser"}}
          %option{:value => "16"} Adm. / økonomi / ledelse
          %option{:value => "17"} Helse- og sosialfag
          %option{:value => "18"} Idrettsfag/friluftsliv
          %option{:value => "19"} IT / IKT / Informatikk
          %option{:value => "53"} Realfag
          %option{:value => "23"} Skuespill
          %option{:value => "25"} Ingeniør
          %option{:value => "27"} Pedagogikk / lærerutdanning
          %option{:value => "28"} Design/innovasjon
          %option{:value => "29"} Språk og litteratur
          %option{:value => "30"} Organisasjon / ledelse
          %option{:value => "35"} Samfunnsfag / historie / filosofi
          %option{:value => "36"} Revisjon / regnskap
          %option{:value => "50"} Scenekunst
          %option{:value => "37"} Markedsføring / kommunikasjon
          %option{:value => "41"} Musikk
          %option{:value => "46"} Eiendomsforvalter
          %option{:value => "47"} Verditaksering
        %input.btn.blue{:name => "kat_submit", :onclick => "CallJS('Progress()');", :type => "submit", :value => "Søk"}


%aside#calendar
  / %h1 kommende eventer
  %div.calendar-item{:itemscope => "", :itemtype => "http://data-vocabulary.org/Event"}
    %a{:href => "http://www.example.com/events/spinaltap", :itemprop => "url"}
      %span{:itemprop => "summary"} Studiestart
    -#%img{:itemprop => "photo", :src => "spinal_tap.jpg"}/
    %span{:itemprop => "description"}
      Beskrivelse av eventen
    %time{:datetime => "2015-10-15T19:00-08:00", :itemprop => "startDate"} 14 aug
    %time{:datetime => "2015-10-15T19:00-08:00", :itemprop => "endDate"} Oct 15, 9:00PM
    %span{:itemprop => "location", :itemscope => "", :itemtype => "http://data-vocabulary.org/​Organization"}
      %span{:itemprop => "name"} Høgskolen i Østfold
      %span{:itemprop => "address", :itemscope => "", :itemtype => "http://data-vocabulary.org/Address"}
        %span{:itemprop => "street-address"}> B.R.A. veien 4 Remmen, Halden
        %span{:itemprop => "locality"} Halden
        %span{:itemprop => "region"} Østfold


  %div.calendar-item{:itemscope => "", :itemtype => "http://data-vocabulary.org/Event"}
    %a{:href => "http://www.example.com/events/spinaltap", :itemprop => "url"}
      %span{:itemprop => "summary"} Forskningsdagene
    -#%img{:itemprop => "photo", :src => "spinal_tap.jpg"}/
    %span{:itemprop => "description"}
      Beskrivelse av eventen
    %time{:datetime => "2015-10-15T19:00-08:00", :itemprop => "startDate"} 21 sep
    %time{:datetime => "2015-10-15T19:00-08:00", :itemprop => "endDate"} Oct 15, 9:00PM
    %span{:itemprop => "location", :itemscope => "", :itemtype => "http://data-vocabulary.org/​Organization"}
      %span{:itemprop => "name"} Høgskolen i Østfold
      %span{:itemprop => "address", :itemscope => "", :itemtype => "http://data-vocabulary.org/Address"}
        %span{:itemprop => "street-address"}> B.R.A. veien 4 Remmen, Halden
        %span{:itemprop => "locality"} Halden
        %span{:itemprop => "region"} Østfold

  %div.calendar-item{:itemscope => "", :itemtype => "http://data-vocabulary.org/Event"}
    %a{:href => "http://www.example.com/events/spinaltap", :itemprop => "url"}
      %span{:itemprop => "summary"} Småbarnsdagene i Østfold
    -#%img{:itemprop => "photo", :src => "spinal_tap.jpg"}/
    %span{:itemprop => "description"}
      Beskrivelse av eventen
    %time{:datetime => "2015-10-15T19:00-08:00", :itemprop => "startDate"} 25 okt
    %time{:datetime => "2015-10-15T19:00-08:00", :itemprop => "endDate"} Oct 15, 9:00PM
    %span{:itemprop => "location", :itemscope => "", :itemtype => "http://data-vocabulary.org/​Organization"}
      %span{:itemprop => "name"} Høgskolen i Østfold
      %span{:itemprop => "address", :itemscope => "", :itemtype => "http://data-vocabulary.org/Address"}
        %span{:itemprop => "street-address"}> K.G. Meldahlsv. 9, Kråkerøy
        %span{:itemprop => "locality"} Fredrikstad
        %span{:itemprop => "region"} Østfold

  / %div.calendar-item{:itemscope => "", :itemtype => "http://data-vocabulary.org/Event"}
  /   %a{:href => "http://www.example.com/events/spinaltap", :itemprop => "url"}
  /     %span{:itemprop => "summary"} Datamessa
  /   -#%img{:itemprop => "photo", :src => "spinal_tap.jpg"}/
  /   %span{:itemprop => "description"}
  /     Beskrivelse av eventen
  /   %time{:datetime => "2015-10-15T19:00-08:00", :itemprop => "startDate"} 15 nov
  /   %time{:datetime => "2015-10-15T19:00-08:00", :itemprop => "endDate"} Oct 15, 9:00PM
  /   %span{:itemprop => "location", :itemscope => "", :itemtype => "http://data-vocabulary.org/​Organization"}
  /     %span{:itemprop => "name"} Høgskolen i Østfold
  /     %span{:itemprop => "address", :itemscope => "", :itemtype => "http://data-vocabulary.org/Address"}
  /       %span{:itemprop => "street-address"}> B.R.A. veien 4 Remmen, Halden
  /       %span{:itemprop => "locality"} Halden
  /       %span{:itemprop => "region"} Østfold



%aside#social-media
  %a.ss-facebook.facebook{:href => "http://facebook.com/blistudent", :title => "Høgskolen i Østfold på Facebook"}  / blistudent
  %a.ss-instagram.instagram{:href => "http://flickr.com/utdanning", :title => "Høgskolen i Østfold på Instagram"}  / blistudent
  %a.ss-twitter.twitter{:href => "http://flickr.com/utdanning", :title => "Høgskolen i Østfold på Twitter"}  / blistudent
  %a.ss-flickr.flickr{:href => "http://flickr.com/utdanning", :title => "Høgskolen i Østfold på Flickr"}  / utdanning


%section#news-promoted
  %section#news-frontpage
    %h1
      %a.ss-news{:href => "#"}
        Aktuelt
      %a{:href => "#"}
        %span.ss-icon.right
          RSS&nbsp;&nbsp;
    %article.article
      %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3320&module=news", :title => "Les mer: Viktig hjerteforskning"}
        %img.picture{:alt => "Hjertetrening654.jpg", :src => "http://hiof.no/uimg/20121121/Hjertetrening654.jpg"}/
      %h2
        %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3320&module=news", :title => "Les mer: Viktig hjerteforskning"} Viktig hjerteforskning
      %p.lead-paragraph 30 hjertepasienter peser seg nå gjennom et banebrytende forskningsprosjekt ved Høgskolen i Østfold.
      %a.read-more{:href => "/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3320&module=news", :title => "Les mer: Viktig hjerteforskning"} Les mer
      %span.published [21.11.2012]
    %article.article
      %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3315&module=news", :title => "Les mer: Bok om norsk iseksport"}
        %img.picture{:alt => "CasperSrensen654.jpg", :src => "http://hiof.no/uimg/20121119/CasperSrensen654.jpg"}/
      %h2
        %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3315&module=news", :title => "Les mer: Bok om norsk iseksport"} Bok om norsk iseksport
      %p.lead-paragraph Sammen med Hans-Jørgen Wallin Weihe fra Høgskolen i Lillehammer, har Høgskolen i Østfolds Carsten M. Syvertsen skrevet boken ”Den Norske Iseksporten”.
      %a.read-more{:href => "/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3315&module=news", :title => "Les mer: Bok om norsk iseksport"} Les mer
      %span.published [19.11.2012]
    %article.article
      %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3313&module=news", :title => "Les mer: Hans Blom valgt til rektor ved HiØ"}
        %img.picture{:alt => "HansBlomPortrett654.jpg", :src => "http://hiof.no/uimg/20121008/HansBlomPortrett654.jpg"}/
      %h2
        %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3313&module=news", :title => "Les mer: Hans Blom valgt til rektor ved HiØ"} Hans Blom valgt til rektor ved HiØ
      %p.lead-paragraph Resultatene av rektorvalget og valg av nytt styret er nå klart. Nesten 60 prosent av de ansatte stemte ved rektorvalget, og over 60 prosent benyttet sin stemme i valg av interne styremedlemmer. Dette er en oppgang i valgdeltakelsen fra 2007 på over 20 prosent.
      %a.read-more{:href => "/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3313&module=news", :title => "Les mer: Hans Blom valgt til rektor ved HiØ"} Les mer
      %span.published [16.11.2012]
    %article.article
      %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3314&module=news", :title => "Les mer: Norges beste studentvalg"}
        %img.picture{:alt => "Feiret rekordvalget med kake", :src => "http://hiof.no/uimg/20121116/Rekordvalg2012.jpg"}/
      %h2
        %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3314&module=news", :title => "Les mer: Norges beste studentvalg"} Norges beste studentvalg
      %p.lead-paragraph Studentparlamentet ved Høgskolen i Østfold har klart det igjen: Aldri før har så mange studenter stemt ved noe studentvalg i Norge.
      %a.read-more{:href => "/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3314&module=news", :title => "Les mer: Norges beste studentvalg"} Les mer
      %span.published [16.11.2012]
    %article.article
      %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3311&module=news", :title => "Les mer: Høgskoletilbud i Moss og Indre Østfold"}
        %img.picture{:alt => "Hi_CampusMoss654.jpg", :src => "http://hiof.no/uimg/20121115/Hi_CampusMoss654.jpg"}/
      %h2
        %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3311&module=news", :title => "Les mer: Høgskoletilbud i Moss og Indre Østfold"} Høgskoletilbud i Moss og Indre Østfold
      %p.lead-paragraph Høgskolen i Østfold ønsker å tilby fleksibel kompetanseheving i form av videreutdanninger på et lokalt studiested i nærområdet, derfor undertegnes det nå intensjonsavtaler med Moss kommune og Indre Østfold.
      %a.read-more{:href => "/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=3311&module=news", :title => "Les mer: Høgskoletilbud i Moss og Indre Østfold"} Les mer
      %span.published [15.11.2012]

  %section#news-fou.science
    %h1
      %a{:href => "#"}
        Forskning
      %a{:href => "#"}
        %span.ss-icon.right
          RSS&nbsp;&nbsp;
    %article.article
      %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=2437&module=news", :title => "Les mer: Strålende kritikker til HiØ professor"}
        %img.picture{:alt => "Foto: GT Nergaard/Trøndelag teater", :src => "http://hiof.no/uimg/20100922/_TDwOoKhF40pxmcPRIF-fABpK_nowtXweKtFfs8_nBeQ.jpg"}/
      %h2
        %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=2437&module=news", :title => "Les mer: Strålende kritikker til HiØ professor"} Strålende kritikker til HiØ professor
      %p.lead-paragraph Professor Serge von Arx, kunstnerisk leder for scenografi ved Høgskolens Akademi for scenekunst, får strålende kritikk for scenografien i forestillingen Ifigineia. Scenografien inngår i hans forskning på performativ arkitektur.
      %a.read-more{:href => "/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=2437&module=news", :title => "Les mer: Strålende kritikker til HiØ professor"} Les mer
      %span.published [22.09.2010]
    %article.article
      %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=1447&module=news", :title => "Les mer: Ny HiØ-strategi i styret"}
        %img.picture{:alt => "elinogbirgitta.jpg", :src => "http://hiof.no/uimg/20080922/elinogbirgitta.jpg"}/
      %h2
        %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=1447&module=news", :title => "Les mer: Ny HiØ-strategi i styret"} Ny HiØ-strategi i styret
      %p.lead-paragraph Hvordan utvikle nye mål og strategier for HiØ? Det var blant hovedteamene i mandagens høgskolestyremøte. Midtveis gav rektor Elin Nesje Vestli en takk- og blomsterhilsen til avtroppende høgskoledirektør Birgitta Rødstøl Næss (t.h).
      %a.read-more{:href => "/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=1447&module=news", :title => "Les mer: Ny HiØ-strategi i styret"} Les mer
      %span.published [22.09.2008]
    %article.article
      %a.picture-title{:href => "/index.php?/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=1446&module=news", :title => "Les mer: Forskning i kjøpesenter"}
        %img.picture{:alt => "forskning654torvbyen.jpg", :src => "http://hiof.no/uimg/20080920/forskning654torvbyen.jpg"}/
      %h2
        %a.title{:href => "/index.php?ID=165&/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=1446&module=news", :title => "Les mer: Forskning i kjøpesenter"} Forskning i kjøpesenter
      %p.lead-paragraph På Torvbyen kjøpesenter i Fredrikstad fikk Høgskolen i Østfold starte Forskningsdagene 2008 lørdag. Sykepleierstudentene (bildet) var også med. I ei uke framover vil høgskolen vise fram hva som gjøres innen forskning og utvikling i Østfold.
      %a.read-more{:href => "/nor/hogskolen-i-ostfold/forside/forside/?&displayitem=1446&module=news", :title => "Les mer: Forskning i kjøpesenter"} Les mer
      %span.published [20.09.2008]




