%section#student
  %h2.boxUnderline_aktuelt Aktuelt for studenter
  #studentNyheter
    .studentNyhet
      %a.studentNyhetsoverskrift{:href => "/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/?&displayitem=3291&module=news", :title => "Les mer: Studiemesser og skolebesøk"} Studiemesser og skolebesøk
      .studentNyhetsfoto_container
        %a.studentNyhetsfotolink{:href => "/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/?&displayitem=3291&module=news"}
          %img.studentNyhetsfoto{:alt => "Informerer om studier", :height => "80", :src => "http://hiof.no/uimg/20121102/Studentambassadorene2012.jpg"}
      .studentNyhetstekst
        .studentNyhetsingress Nye studentambassadører klare: Nå skal de ut på skoler og messer for å informere om studietilbudet til Høgskolen i Østfold.
        %img.dobbelPIL_studentNyheter{:alt => "", :src => "/styles/NY_DESIGNMAL_STYLES/images/arrow_02.png"}
          %a.studentLesmer{:href => "/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/?&displayitem=3291&module=news", :title => "Les mer: Studiemesser og skolebesøk"} Les mer
          %span.studentPublisertdato [02.11.2012]
    .studentNyhet
      %a.studentNyhetsoverskrift{:href => "/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/?&displayitem=3285&module=news", :title => "Les mer: Kunnskapsdepartementet til Høgskolen i Østfold"} Kunnskapsdepartementet til Høgskolen i Østfold
      .studentNyhetsfoto_container
        %a.studentNyhetsfotolink{:href => "/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/?&displayitem=3285&module=news"}
          %img.studentNyhetsfoto{:alt => "StatssekretrKD_654.jpg", :height => "80", :src => "http://hiof.no/uimg/20121030/StatssekretrKD_654.jpg"}
      .studentNyhetstekst
        .studentNyhetsingress Statssekretær i Kunnskapsdepartementet Ragnhild Setsaas kommer til høgskolen fredag 2. november for å snakke om dagens politikk knyttet til forskning og høyere utdanning.
        %img.dobbelPIL_studentNyheter{:alt => "", :src => "/styles/NY_DESIGNMAL_STYLES/images/arrow_02.png"}
          %a.studentLesmer{:href => "/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/?&displayitem=3285&module=news", :title => "Les mer: Kunnskapsdepartementet til Høgskolen i Østfold"} Les mer
          %span.studentPublisertdato [30.10.2012]
    .studentNyhet
      %a.studentNyhetsoverskrift{:href => "/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/?&displayitem=3284&module=news", :title => "Les mer: Klare for et siste oppdrag i Malawi"} Klare for et siste oppdrag i Malawi
      .studentNyhetsfoto_container
        %a.studentNyhetsfotolink{:href => "/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/?&displayitem=3284&module=news"}
          %img.studentNyhetsfoto{:alt => "Malawi-front.JPG", :height => "80", :src => "http://hiof.no/uimg/20121030/Malawi-front.JPG"}
      .studentNyhetstekst
        .studentNyhetsingress Internasjonal uke går av stabelen i Fredrikstad i neste uke, men flere ansatte ved sykepleierutdanningen må melde pass. Hvorfor? De er på oppdrag i nettopp - utlandet.
        %img.dobbelPIL_studentNyheter{:alt => "", :src => "/styles/NY_DESIGNMAL_STYLES/images/arrow_02.png"}
          %a.studentLesmer{:href => "/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/?&displayitem=3284&module=news", :title => "Les mer: Klare for et siste oppdrag i Malawi"} Les mer
          %span.studentPublisertdato [30.10.2012]
    .studentNyhet
      %a.studentNyhetsoverskrift{:href => "/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/?&displayitem=3280&module=news", :title => "Les mer: Småbarnsdagene i Østfold"} Småbarnsdagene i Østfold
      .studentNyhetsfoto_container
        %a.studentNyhetsfotolink{:href => "/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/?&displayitem=3280&module=news"}
          %img.studentNyhetsfoto{:alt => "ElisabethLilleborgeMarkhus.jpg", :height => "80", :src => "http://hiof.no/uimg/20121025/ElisabethLilleborgeMarkhus.jpg"}
      .studentNyhetstekst
        .studentNyhetsingress 200 på seminar ved HiØ: – Målet vårt er å gi hvert enkelt barn mulighet til å mestre sine egne liv, sa fylkeslege Elisabeth Lilleborge Markhus, da hun åpnet ”Småbarnsdagene i Østfold”.
        %img.dobbelPIL_studentNyheter{:alt => "", :src => "/styles/NY_DESIGNMAL_STYLES/images/arrow_02.png"}
          %a.studentLesmer{:href => "/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/?&displayitem=3280&module=news", :title => "Les mer: Småbarnsdagene i Østfold"} Les mer
          %span.studentPublisertdato [25.10.2012]
  %a{:href => "http://www.hiof.no/rss.php?type=box&id=586&location=5709"}
    %img{:alt => "RSS Nyheter", :src => "/neted/front/img/rss20.gif", :style => "border:0px;"}/
  %br
    %br
      .buttonLink
        %a.fullOversikt{:href => "http://www.hiof.no/index.php?&path=nor&file=/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/aaktuelle-nyheter"}