%footer#footer.clearfix
  %section#col_01
    %p
      Oppdatert av 
      / <a id="page-author" rel="author">
      Kenneth Dahlstrøm Nordahl
      / </a>
      \ 21.03.2012
      
      \- Ved feil/mangler - kontakt:
      %a{:href => "http://www.hiof.no/index.php?ID=5567"} avdelingens webgruppe
  %section#col_02
    %h3 Avdelinger:
    %ul
      %li
        %a{:href => "http://www.hiof.no/nor/avdeling-for-helse_-og-sosialfag?lang=nor"}
          %em Avd. for helse- og sosialfag
      %li
        %a{:href => "http://www.hiof.no/nor/avdeling-for-ingeniorfag?lang=nor"}
          %em Avd. for ingeniørfag
      %li
        %a{:href => "http://www.hiof.no/nor/avdeling-for-okonomi_-sprak-og-samfunnsfag?lang=nor"}
          %em Avd. for økonomi, språk og samfunnsfag
      %li
        %a{:href => "http://www.hiof.no/nor/avdeling-for-informasjonsteknologi?lang=nor"}
          %em Avd. for informasjonsteknologi
      %li
        %a{:href => "http://www.hiof.no/nor/avdeling-for-larerutdanning?lang=nor"}
          %em Avd. for lærerutdanning
      %li
        %a{:href => "http://www.hiof.no/nor/akademi-for-scenekunst?lang=nor"}
          %em Akademi for scenekunst
    %ul
  %section#col_03
    %h3 Snarveier:
    %ul
      %li
        %a{:href => "http://www.hiof.no/studier"}
          %em Studietilbud
      %li
        %a{:href => "http://www.hiof.no/utveksling"}
          %em Studier i utlandet
      %li
        %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/studiekatalog-_-rekrutteringssider/studietilbudet/etter_-og-videreutdanninger"}
          %em Etter- og videreutdanning
      %li
        %a{:href => "http://www.hiof.no/nor/senter-for-kompetanseutvikling?lang=nor"}
          %em Senter for kompetanseutvikling (SKUT)
    %ul
      %li
        %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/studiekatalog-_-rekrutteringssider/studietilbudet/sok-etter-studier"}
          %em Finn studier
      %li
        %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte?lang=nor"}
          %em Finn ansatt
      %li
        %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/om-hogskolen/hvordan-finne-hio_?lang=nor"}
          %em Finn fram til HiØ
    %ul
  %section#col_04
    %h3 Kontakt:
    %table{:border => "0"}
      %tbody
        %tr
          %td{:valign => "top"}
            %em Adresse:
            %br
            %em Tlf:
            %br
            %em Faks:
            %br
            %em Org.nr:
            %br
            %em E-post:
          %td{:valign => "top"}
            %em Høgskolen i Østfold, 1757 Halden
            %br
            %em 69 21 50 00
            %br
            %em 69 21 50 02
            %br
            %em 971 567 376
            %br
            %em
              %a{:href => "mailto:postmottak@hiof.no", :target => "_parent"} postmottak@hiof.no
    %p
      %a.lesMer_pil{:href => "/nor/hogskolen-i-ostfold/om-hogskolen/adresser?lang=nor"} Klikk for faktura- og besøksadresse m.m.
      %br
        %em Nettstedsansvarlig: Tore Petter Engen