%header#header.clearfix{:role => "banner"}
  %hgroup#logo
    %a#logo-hiof.ir.logo-hiof{:href => "http://www.hiof.no/"}
      %h1 Høgskolen i Østfold
    / %a#site-sublogo.ir.logo-student{:href => "/nettavisa"}
    /   %h2 Student
  %nav#navigation{:role => "navigation"}
    %ul.left
      %li
        %a.first.omHio{:href => "/index.php?ID=142"} Om Høgskolen
        %ul.drop
          %li
            %a{:href => "/index.php?ID=475"} Om høgskolen
          %li
            %a{:href => "/index.php?ID=999"} Organisering
          %li
            %a{:href => "/index.php?ID=1567"} Avdelingene
          %li
            %a{:href => "/index.php?ID=19415"} Studiested Fredrikstad
          %li
            %a{:href => "/index.php?ID=170"} Administrasjonen
          %li
            %a{:href => "/index.php?ID=1983"} Sentrale dokumenter
          %li
            %a{:href => "/index.php?ID=14486"} Samarbeidsprosjekter
          %li
            %a{:href => "/index.php?ID=14042"} Samarbeidsavtaler
          %li
            %a{:href => "/index.php?ID=18712"} Hvordan finne HiØ?
          %li
            %a{:href => "/index.php?ID=612"} Adresser
          %li
            %a{:href => "/index.php?ID=2095"} Kvalitetssystem
          %li
            %a{:href => "/index.php?ID=189"} Ledige stillinger
          %li
            %a{:href => "/index.php?ID=868"} Om Østfold
          %li
            %a{:href => "/index.php?ID=9723"} PULS
          %li
            %a{:href => "http://www.fremmedspraksenteret.no", :target => "_blank"} Fremmedspråksenteret
          %li
            %a{:href => "/index.php?ID=17696"} Sosiale medier
      %li
        %a.menu.studier{:href => "/studier"} Studier
        %ul.drop
          %li
            %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/studiekatalog-_-rekrutteringssider/studietilbudet/bachelorstudier"} Bachelorstudier
          %li
            %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/studiekatalog-_-rekrutteringssider/studietilbudet/masterstudier"} Masterstudier
          %li
            %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/studiekatalog-_-rekrutteringssider/studietilbudet/arsstudier"} Årsstudier
      %li
        %a.menu.fou{:href => "/index.php?ID=10655&lang=nor"} Forskning
      %li
        %a.menu.stillinger{:href => "/index.php?ID=189&lang=nor"} Stillinger
      %li
        %a.menu.bibliotek{:href => "/index.php?ID=635&lang=nor"} Bibliotek
        %ul.drop
          %li
            %a{:href => "/index.php?ID=9657"} Biblioteket
          %li
            %a{:href => "/index.php?ID=1637"} Lån en bibliotekar
          %li
            %a{:href => "/index.php?ID=1564"} Spør  biblioteket
          %li
            %a{:href => "/index.php?ID=18049"} Artikler
          %li
            %a{:href => "/index.php?ID=15011"} Databaser
          %li
            %a{:href => "/index.php?ID=17395"} Hvordan skrive oppgave?
          %li
            %a{:href => "/index.php?ID=18507"} Kurs
          %li
            %a{:href => "/index.php?ID=6517"} Lenker
          %li
            %a{:href => "/index.php?ID=3196"} Nytt i hyllene
          %li
            %a{:href => "/index.php?ID=15055"} Om biblioteket
          %li
            %a{:href => "/index.php?ID=17682"} Oppslagsverk
          %li
            %a{:href => "/index.php?ID=15053"} Fredrikstad
          %li
            %a{:href => "/index.php?ID=6502"} Halden
          %li
            %a{:href => "/index.php?ID=19932"} English
          %li
            %a{:href => "/index.php?ID=19670"} Français/Deutsch/Español
      %li
        %a.menu.english{:href => "http://www.hiof.no/index.php?ID=3&lang=eng"} English
        %ul.drop
          %li
            %a{:href => "/index.php?ID=3"} Home
          %li
            %a{:href => "/index.php?ID=1758"} Faculties
          %li
            %a{:href => "/index.php?ID=4996"} Contact information
          %li
            %a{:href => "/index.php?ID=20323"} Before arrival
          %li
            %a{:href => "/index.php?ID=9196"} Info for current students
          %li
            %a{:href => "/index.php?ID=9193"} Academic Calendar
          %li
            %a{:href => "/index.php?ID=9194"} Credit system and grading
          %li
            %a{:href => "/index.php?ID=9195"} Degree Stucture
          %li
            %a{:href => "/index.php?ID=5552"} Diploma Supplement
          %li
            %a{:href => "/index.php?ID=5439"} Courses taught in English
          %li
            %a{:href => "/index.php?ID=17080"} Courses taught in German
          %li
            %a{:href => "/index.php?ID=17119"} Courses taught in French
          %li
            %a{:href => "/index.php?ID=15048"} Courses taught in Spanish
          %li
            %a{:href => "/index.php?ID=9103"} Norwegian for Foreigners
          %li
            %a{:href => "/index.php?ID=17275"} Course descriptions
          %li
            %a{:href => "/index.php?ID=3649"} Search
          %li
            %a{:href => "/index.php?ID=12911"} Vacant positions
          %li
            %a{:href => "/index.php?ID=14565"} IT services
          %li
            %a{:href => "http://www.hiof.no/nor/biblioteket/english-1?lang=eng", :target => "_top"} Library
      %li
        %a.menu.kontakt{:href => "/index.php?ID=612&lang=nor"} Kontakt
    %ul.right
      %li
        %a.menu.student{"data-icon" => "d", :href => "/student"} Student
      %li
        %a.menu.ansatt{"data-icon" => "d", :href => "/ansatt"} Ansatt
      %li
        %a.last.media{"data-icon" => "6", :href => "/media"} Media
  - if current_page?('/')
  -# elsif current_page?('/student')
  -# elsif current_page?('/ansatt')
  - else
    %nav#breadcrumb{:role => "navigation"}
      .trailTxtLink{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
        %a{:href => "/index.php?ID=101&lang=nor", :itemprop => "url"}
          %span.ss-home{:itemprop => "title"} Høgskolen i Østfold
      .trailTxtLink{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
        %a{:href => "/index.php?ID=163&lang=nor", :itemprop => "url"}
          %span{:itemprop => "title"} Aktuelt
      .trailTxtLink{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
        %a{:href => "/index.php?ID=165&lang=nor", :itemprop => "url"}
          %span{:itemprop => "title"} Student

    


  %nav#search{:role => "search"}
    %form{:action => "", :method => "GET", :name => "search_left_menu"}
      %input{:name => "ID", :type => "hidden", :value => "165"}
      %input{:name => "lang", :type => "hidden", :value => ""}
      %input{:name => "submittet", :type => "hidden", :value => "true"}
      %select#search-select.multibox{:name => "select_search", :size => "1"}
        -#%option.ss-icon.ss-dropdown{:value => "0"}
        %option{:value => "0"}
        %option{:value => "1"} Websider
        %option{:value => "2"} Studier
        %option{:value => "3"} Kompetansesøk
        %option{:value => "4"} Søk etter ansatte/studenter
        %option{:value => "5"} HIØ web
      #search-field.sokefelt
        %input{:name => "sokeord", :placeholder => "Søk", :type => "text"}
      #search-button.sokeknapp
        %input#studiekatalog-_-rekrutteringssider.ss-icon.ss-search{:type => "submit", :placeholder => "search", :value => "Search"}

  %nav#shortcuts
    %ul
      %li.btn
        <span class="arrow ss-icon">down</span> Snarveier
        %ul.drop
          %li
            %a{:href => "index.php?ID=636&lang=nor"} IT-drift (tekniske hjelpesider)
          %li.space-top
            %a{:href => "index.php?ID=17503&lang=nor"} Studiestedsadministrasjon Fredrikstad
          %li
            %a{:href => "index.php?ID=17502&lang=nor"} Studiestedsadministrasjon Halden
          %li
            %a{:href => "index.php?ID=19415&lang=nor"} Studiested Fredrikstad
          %li
            %a{:href => "index.php?ID=170&lang=nor"} Fellestjenester
          %li.space-top
            %a{:href => "index.php?ID=484&lang=nor"} Avd. for informasjonsteknologi
          %li
            %a{:href => "index.php?ID=488&lang=nor"} Avd. for helse- og sosialfag
          %li
            %a{:href => "index.php?ID=485&lang=nor"} Avd. for ingeniørfag
          %li
            %a{:href => "index.php?ID=486&lang=nor"} Avd. for lærerutdanning
          %li
            %a{:href => "index.php?ID=487&lang=nor"} Avd. for økonomi, språk og samfunnsfag
          %li
            %a{:href => "index.php?ID=489&lang=nor"} Akademi for scenekunst
          %li
            %a{:href => "index.php?ID=13990"} Etter- og videreutdanning, SKUT m.m
          %li
            %a{:href => "http://www.hiof.no/studier"} Se alle våre studier
          %li.space-top
            %a{:href => "index.php?ID=4850"} Finn ansatte
          %li
            %a{:href => "#"} Finn student
          %li
            %a{:href => "#"} Finn frem til oss