
%nav.box.navigation
  %h1.ribbon.blue Nyttige sider
  %ul.underMeny
    %li.underMeny
      %a{:href => "/pages/1"} Frontpage
    %li.underMeny
      %a{:href => "/student"} Student
    %li.underMeny
      %a{:href => "/ansatt"} Ansatt/Emplyee
    %li.underMeny
      %a{:href => "/pages/1"} Paragraph test
    %li.underMeny
      %a{:href => "/pages/2"} Kitchen sink
      %ul.underMeny
        %li.underMeny
          %a{:href => "/pages/1"} Sublink test (page1)
        %li.underMeny
          %a{:href => "/pages/2"} Sublink test (page2)
        %li.underMeny
          %a{:href => "/pages/3"} Sublink test (page3)
        %li.underMeny
          %a{:href => "/pages/4"} Sublink test (page4)
        %li.underMeny
          %a{:href => "/pages/5"} Sublink test (page5)
    %li.underMeny
      %a{:href => "/pages/3"} About page
    %li.underMeny
      %a{:href => "/pages/4"} Button test
    %li.underMeny
      %a{:href => "/pages/5"} Profile test


