%nav.box
  %h1.ribbon.blue Studiesteder
  %ul
    %li.head
      %a.head{:href => "index.php?ID=19415&lang=nor"} Fredrikstad
      %ul.slideout
        / drop down menu items
        %li
          %a{:href => "index.php?ID=19415&lang=nor"} Studiested Fredrikstad
        %li
          %a{:href => "index.php?ID=488&lang=nor"} Avd. for helse- og sosialfag
        %li
          %a{:href => "index.php?ID=485&lang=nor"} Avd. for ingeniørfag
        %li
          %a{:href => "index.php?ID=489&lang=nor"} Akademi for scenekunst
        %li
          %a{:href => "index.php?ID=17503&lang=nor"} Studiestedsaministrasjon
        %li
          %a{:href => "index.php?ID=4214&lang=nor"} Etter- og videreutdanning, SKUT m.m
        %li
          %a{:href => "index.php?ID=18712&lang=nor"} Finn frem til studiested Fredrikstad
        %li
          %a{:href => "index.php?ID=4850&lang=nor"} Finn ansatte
        %li
          %a{:href => "index.php?ID=18006&lang=nor"} Parkering
    %li.head
      %a.head{:href => "index.php?ID=17502&lang=nor"} Halden
      %ul.slideout
        / drop down menu items
        %li
          %a{:href => "index.php?ID=17502&lang=nor"} Studiestedsaministrasjon
        %li
          %a{:href => "index.php?ID=484&lang=nor"} Avd. for informasjonsteknologi
        %li
          %a{:href => "index.php?ID=486&lang=nor"} Avd. for lærerutdanning
        %li
          %a{:href => "index.php?ID=487&lang=nor"} Avd. for økonomi, språk og samfunnsfag
        %li
          %a{:href => "index.php?ID=4214&lang=nor"} Etter- og videreutdanning, SKUT m.m
        %li
          %a{:href => "index.php?ID=18712&lang=nor"} Finn frem til studiested Halden
        %li
          %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/finn-frem-pa-remmen"} Finn frem på Remmen
        %li
          %a{:href => "index.php?ID=4850&lang=nor"} Finn ansatte
        %li
          %a{:href => "index.php?ID=18744&lang=nor"} Parkering


%nav.box
  %h1.ribbon.blue Nyttige sider
  %ul.underMeny
    %li.underMeny
      %a#active-link{:href => "/index.php?ID=547&lang=nor"} Om avdelingen
      %ul.underMeny
        %li.underMeny
          %a{:href => "/index.php?ID=18008&lang=nor"} Avdelingens ledelse
        %li.underMeny
          %a{:href => "/index.php?ID=6058&lang=nor"} Ansatte
          %ul.underMeny
            %li.underMeny
              %a{:href => "/index.php?ID=18008&lang=nor"} Avdelingens ledelse
            %li.underMeny
              %a{:href => "/index.php?ID=6058&lang=nor"} Ansatte
            %li.underMeny
              %a{:href => "/index.php?ID=19319&lang=nor"} Organisering
            %li.underMeny
              %a{:href => "http://hiof.no/index.php?ID=18006&lang=nor", :target => "_blank"} Parkering
            %li.underMeny
              %a{:href => "http://hiof.no/index.php?ID=18003&lang=nor", :target => "_blank"} Romdisponering
            %li.underMeny
              %a{:href => "http://hiof.no/index.php?ID=17503&lang=nor", :target => "_blank"} Studiestedsadministrasjon
            %li.underMeny
              %a{:href => "/index.php?ID=18010&lang=nor"} Styrer, råd og utvalg
            %li.underMeny
              %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/om-hogskolen/studiested-fredrikstaad/sentraale-dokumenter-1", :target => "_blank"} Sentrale dokumenter
            %li.underMeny
              %a{:href => "http://www.hiof.no/index.php?ID=3038&lang=nor", :target => "_blank"} Kvalitetssystemet



              %ul.underMeny
                / drop down menu items
                %li
                  %a{:href => "index.php?ID=17502&lang=nor"} Studiestedsaministrasjon
                %li
                  %a{:href => "index.php?ID=484&lang=nor"} Avd. for informasjonsteknologi
                %li
                  %a{:href => "index.php?ID=486&lang=nor"} Avd. for lærerutdanning
                %li
                  %a{:href => "index.php?ID=487&lang=nor"} Avd. for økonomi, språk og samfunnsfag
                %li
                  %a{:href => "index.php?ID=4214&lang=nor"} Etter- og videreutdanning, SKUT m.m
                %li
                  %a{:href => "index.php?ID=18712&lang=nor"} Finn frem til studiested Halden
                %li
                  %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/for-studenter/aktuelt-for-studenter/finn-frem-pa-remmen"} Finn frem på Remmen
                %li
                  %a{:href => "index.php?ID=4850&lang=nor"} Finn ansatte
                %li
                  %a{:href => "index.php?ID=18744&lang=nor"} Parkering



        %li.underMeny
          %a{:href => "/index.php?ID=19319&lang=nor"} Organisering
        %li.underMeny
          %a{:href => "http://hiof.no/index.php?ID=18006&lang=nor", :target => "_blank"} Parkering
        %li.underMeny
          %a{:href => "http://hiof.no/index.php?ID=18003&lang=nor", :target => "_blank"} Romdisponering
        %li.underMeny
          %a{:href => "http://hiof.no/index.php?ID=17503&lang=nor", :target => "_blank"} Studiestedsadministrasjon
        %li.underMeny
          %a{:href => "/index.php?ID=18010&lang=nor"} Styrer, råd og utvalg
        %li.underMeny
          %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/om-hogskolen/studiested-fredrikstaad/sentraale-dokumenter-1", :target => "_blank"} Sentrale dokumenter
        %li.underMeny
          %a{:href => "http://www.hiof.no/index.php?ID=3038&lang=nor", :target => "_blank"} Kvalitetssystemet
    %li.underMeny
      %a{:href => "/index.php?ID=538&lang=nor"} Studier
    %li.underMeny
      %a{:href => "/index.php?ID=19789&lang=nor"} Studentprosjekter
    %li.underMeny
      %a{:href => "/index.php?ID=6782&lang=nor"} EXPO
    %li.underMeny
      %a{:href => "/index.php?ID=567&lang=nor"} Internasjonalisering
    %li.underMeny
      %a{:href => "/index.php?ID=548&lang=nor"} Forskning og utvikling
    %li.underMeny
      %a{:href => "/index.php?ID=19935&lang=nor"} Studiekalender 12/13
    %li.underMeny
      %a{:href => "/index.php?ID=17483&lang=nor"} Timeplaner Høst 2012
    %li.underMeny
      %a{:href => "/index.php?ID=1692&lang=nor"} Eksamensplan
    %li.underMeny
      %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/lonn-og-personal/helse_-miljo-og-sikkerhet", :target => "_blank"} HMS
    %li.underMeny
      %a{:href => "/index.php?ID=1691&lang=nor"} Oppdragsvirksomhet verksted og laboratorier