%section.box.basic.contact
  %h1 KONTAKTINFO
  / %img{ :src => "https://s3.amazonaws.com/files.droplr.com/files_production/acc_65361/ucSJ?AWSAccessKeyId=AKIAJSVQN3Z4K7MT5U2A&Expires=1350988201&Signature=LytBuC72RfgcydGr4IdmzolaGPI%3D&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Screenshot%2B2012-10-23%2Bat%2B11.29.41.png"}
  %p
    Høgskolen i Østfold
    %br Avdeling for ingeniørfag
  %p
    %strong Besøksadresse:
    %br
      %a{:href => "http://www.kvasir.no/kart#lat%3D6565454.4011%26lon%3D610063.97288%26zoom%3D15%26layers%3DB0000%26q%3DKG%2520Meldahls%2520vei%25209%26offset%3D0", :target => "_blank"}
        K.G. Meldahlsvei 9
        %br
          (FMV-området på kråkerøy)
          %br 1671 Kråkerøy
  %p
    %br
      %strong Postadresse:
      %br
        Høgskolen i Østfold
        %br
          Avd. for ingeniørfag
          %br 1757 Halden
  %p
    Telefon 69 21 50 00
    %br Telefax 69 10 40 02
  %p
    %a{:href => "mailto:postmottakpost-ir@hiof.no"} postmottak@hiof.no