%nav.box.navigation
  %h1.ribbon.blue Nyttige sider
  %ul.underMeny
    %li.underMeny
      %a#active-link{:href => "/index.php?ID=547&lang=nor"} Om avdelingen
      %ul.underMeny
        %li.underMeny
          %a{:href => "/index.php?ID=18008&lang=nor"} Avdelingens ledelse
        %li.underMeny
          %a{:href => "/index.php?ID=6058&lang=nor"} Ansatte
          %ul.underMeny
            %li.underMeny
              %a{:href => "/index.php?ID=18008&lang=nor"} Avdelingens ledelse
            %li.underMeny
              %a{:href => "/index.php?ID=6058&lang=nor"} Ansatte
            %li.underMeny
              %a{:href => "/index.php?ID=19319&lang=nor"} Organisering
            %li.underMeny
              %a{:href => "http://hiof.no/index.php?ID=18006&lang=nor", :target => "_blank"} Parkering
            %li.underMeny
              %a{:href => "http://hiof.no/index.php?ID=18003&lang=nor", :target => "_blank"} Romdisponering
            %li.underMeny
              %a{:href => "http://hiof.no/index.php?ID=17503&lang=nor", :target => "_blank"} Studiestedsadministrasjon
            %li.underMeny
              %a{:href => "/index.php?ID=18010&lang=nor"} Styrer, råd og utvalg
            %li.underMeny
              %a{:href => "http://www.hiof.no/nor/hogskolen-i-ostfold/om-hogskolen/studiested-fredrikstaad/sentraale-dokumenter-1", :target => "_blank"} Sentrale dokumenter
            %li.underMeny
              %a{:href => "http://www.hiof.no/index.php?ID=3038&lang=nor", :target => "_blank"} Kvalitetssystemet


%section.box.paperstack
  %h1 OPPSLAGSTAVLE
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr
        %td{:style => "width:10px;", :valign => "top"}
        
        %td{:valign => "top"}
          %a.titleBox{:href => "/nor/avdeling-for-ingeniorfag/om-avdelingen/?&displayitem=2069&module=messageboard"} Plankalender for høsten
          %br
            %span.datoList 06.07.2012

%section.box
  %h1 Studietilbud
  %h3 Bachelor i ingeniørfag
  %ul
    %li
      %a{:href => "/index.php?ID=13996&lang=nor&displayitem=189&module=studieinfo&type=studie&subtype=2"} Bygg
    %li
      %a{:href => "/index.php?ID=13996&lang=nor&displayitem=190&module=studieinfo&type=studie&subtype=2"} Elektro
    %li
      %a{:href => "/index.php?ID=13996&lang=nor&displayitem=470&module=studieinfo&type=studie&subtype=2"} Elektro, Y-veien
    %li
      %a{:href => "/index.php?ID=13996&lang=nor&displayitem=291&module=studieinfo&type=studie&subtype=2"} Industriell Design
    %li
      %a{:href => "/index.php?ID=13996&lang=nor&displayitem=202&module=studieinfo&type=studie&subtype=2"} Kjemi
    %li
      %a{:href => "/index.php?ID=13996&lang=nor&displayitem=472&module=studieinfo&type=studie&subtype=2"} Kjemi, Y-veien
    %li
      %a{:href => "/index.php?ID=13996&lang=nor&displayitem=300&module=studieinfo&type=studie&subtype=2"} Maskin
    %li
      %a{:href => "/index.php?ID=13996&lang=nor&displayitem=471&module=studieinfo&type=studie&subtype=2"} Maskin, Y-veien
  %h3 Bachelorstudium
  %ul
    %li
      %a{:href => "/index.php?ID=13997&lang=nor&displayitem=185&module=studieinfo&type=studie&subtype=2"} Bioingeniørfag
    %li
      %a{:href => "/index.php?ID=13996&lang=nor&displayitem=748&module=studieinfo&type=studie&subtype=2"} Innovasjon og prosjektledelse
  %h3 Andre studietilbud
  %ul
    %li
      %a{:href => "/index.php?ID=13996&lang=nor&displayitem=191&module=studieinfo&type=studie&subtype=2"} Forkurs
    %li
      %a{:href => "/index.php?ID=13996&lang=nor&displayitem=194&module=studieinfo&type=studie&subtype=2"} TRES
    %li
      %a{:href => "/index.php?ID=14274"} Y-veien
    %li
      %a{:href => "/index.php?ID=555"} Videreutdanning


%section.box
  %h1 Fronter
  %p
    %a{:href => "http://fronter.com/oa", :target => "_blank"}

  %p
    %a{:href => "http://www.ir.hiof.no/%7Epni/innlogging%20fronter/innlogging%20fronter.htm", :target => "_blank"} Innloggingshjelp
  %p
    %a{:href => "http://www.hiof.no/index.php?ID=16976", :target => "_blank"} Høgskolens hjelpeside
  %p
    %a{:href => "http://fronter.com/oa"}