%section.box
  %h1 Lang underboks
  %ul.underMeny
    %li.underMeny
      %a{:href => "/index.php?ID=475"} Om høgskolen
    %li.underMeny
      %a{:href => "/index.php?ID=999"} Organisering
    %li.underMeny
      %a{:href => "/index.php?ID=1567"} Avdelingene
    %li.underMeny
      %a{:href => "/index.php?ID=19415"} Studiested Fredrikstad
    %li.underMeny
      %a.active-path{:href => "/index.php?ID=170"} Administrasjonen
      %ul.underMeny
        %li.underMeny
          %a{:href => "/index.php?ID=18226"} Ansatte med bilder
        %li.underMeny
          %a{:href => "/index.php?ID=8524"} Stab
        %li.underMeny
          %a{:href => "/index.php?ID=457"} Studie- og forskningsenheten
        %li.underMeny
          %a{:href => "/index.php?ID=9102"} Økonomi- og driftsenheten
        %li.underMeny
          %a{:href => "/index.php?ID=15869"} Personal- og organisasjonsenheten
        %li.underMeny
          %a{:href => "/index.php?ID=17496"} Informasjons- og kommunikasjonsenheten
        %li.underMeny
          %a{:href => "/index.php?ID=2177"} Bygningsmessig drift
        %li.underMeny
          %a{:href => "http://hiof.no/index.php?ID=636"} IT-drift
        %li.underMeny
          %a{:href => "/index.php?ID=15944"} Arkivet
        %li.underMeny
          %a{:href => "/index.php?ID=15947"} Posttjenesten
        %li.underMeny
          %a.active-path{:href => "/index.php?ID=15950"} Trykkeri
          %ul.underMeny
            %li.underMeny
              %a#active-link{:href => "/index.php?ID=16095"} Priser
            %li.underMeny
              %a{:href => "/index.php?ID=16858"} Kompendier
        %li.underMeny
          %a{:href => "/index.php?ID=17502"} Studiestedsadm. Halden
        %li.underMeny
          %a{:href => "/index.php?ID=17503"} Studiestedsadm. Fredrikstad
    %li.underMeny
      %a{:href => "/index.php?ID=1983"} Sentrale dokumenter
    %li.underMeny
      %a{:href => "/index.php?ID=14486"} Samarbeidsprosjekter
    %li.underMeny
      %a{:href => "/index.php?ID=14042"} Samarbeidsavtaler
    %li.underMeny
      %a{:href => "/index.php?ID=18712"} Hvordan finne HiØ?
    %li.underMeny
      %a{:href => "/index.php?ID=612"} Adresser
    %li.underMeny
      %a{:href => "/index.php?ID=2095"} Kvalitetssystem
    %li.underMeny
      %a{:href => "/index.php?ID=189"} Ledige stillinger
    %li.underMeny
      %a{:href => "/index.php?ID=868"} Om Østfold
    %li.underMeny
      %a{:href => "/index.php?ID=9723"} PULS
    %li.underMeny
      %a{:href => "http://www.fremmedspraksenteret.no", :target => "_blank"} Fremmedspråksenteret


%section.box
  %h1 KONTAKTINFO
  %p
    Høgskolen i Østfold
    %br Avdeling for ingeniørfag
  %p
    %strong Besøksadresse:
    %br
      %a{:href => "http://www.kvasir.no/kart#lat%3D6565454.4011%26lon%3D610063.97288%26zoom%3D15%26layers%3DB0000%26q%3DKG%2520Meldahls%2520vei%25209%26offset%3D0", :target => "_blank"}
        K.G. Meldahlsvei 9
        %br
          (FMV-området på kråkerøy)
          %br 1671 Kråkerøy
  %p
    %br
      %strong Postadresse:
      %br
        Høgskolen i Østfold
        %br
          Avd. for ingeniørfag
          %br 1757 Halden
  %p
    Telefon 69 21 50 00
    %br Telefax 69 10 40 02
  %p
    %a{:href => "mailto:postmottakpost-ir@hiof.no"} postmottak@hiof.no